.get-social-inner.red-box {
    width: calc(33.33% - 30px);
    text-align: center;
    margin: 0 auto;
}
.red-box {
    background: #C63939;
    padding: 40px;
    margin: -80px 0 0 -80px;
    min-height: 520px;
    border-radius: 4px;
}
.get-social-inner {
    width: calc(33.33% + 25px);
    margin: 0 15px;
    max-height: 500px;
    overflow: hidden;
        overflow-y: hidden;
    overflow-y: auto;
}
.red-box .block-title-text {
    color: #fff;
    line-height: 33px;
    margin-top: 90px;
}
.red-box .block-title-text a{
    color: #fff;
    text-decoration: underline;
}
.red-box .block-title-text-h2 {
    color: #fff;
    line-height: 33px;
}
.red-box .block-title-text-h2 a{
    color: #fff;
    text-decoration: underline;
}
.block-title-text-h2 {
    font-family: "HelveticaNeue-Bold";
    font-size: 25px;
    color: #C63939;
    margin-bottom: 32px;
}
.block-title-text {
    font-family: "HelveticaNeue-Bold";
    font-size: 40px;
    color: #C63939;
    margin-bottom: 32px;
}
.red-box p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 20px;
}

#html_add_player_button{
    color: #fff;
    border-color: #1e5c90;
    background-color: #0071b8;
    background-image: linear-gradient(to bottom, #007bc6, #0071b8);
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
}

#html_developer_info_button{
    color: #fff;
    border-color: #63C5DA;
    background: #63C5DA;
    background-image: linear-gradient(to bottom, #63C5DA, #63C5DA);
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
}

#html_add_player_button_delete {
    color: #fff !important;
    border-color: #C63939;
    background-color: #C63939;
    background-image: linear-gradient(to bottom, #C63939, #C63939);
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
    width: 13%;
    padding: 6px;
    border-radius: 11px;
    text-align: center;
    margin-right: 10px;
}

#html_add_player_button_delete a {
    color: #fff !important;
}

#html_add_player_button_edit {
    color: #fff !important;
    border-color: #0071b8;
    background-color: #0071b8;
    background-image: linear-gradient(to bottom, #0071b8, #0071b8);
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
    width: 18%;
    padding: 6px;
    border-radius: 11px;
    text-align: center;
}

#html_add_player_button_edit a {
    color: #fff !important;
}

.one_line_custom{
    margin: 0 auto;
text-align: center;
display: flex;
}

.one_line_custom img {
    margin-left: 13px;
}